*
{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 785px){

#title
{
    display: flex;
    width: 180px;
    font-family: "Helvetica";
    font-size: 35px;
    color: white;
    position: relative;
    margin-top: 15px;
    margin-left: 40px;
}

#Logo
{
    display: flex;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
}

#Menu
{
    height: 50px;
    display: flex;
    margin-top: 12px;
    margin-left: 8px;
    width: 50px;
}

#header-zone
{
    display: flex;
    background-color: #362323;
    height: 80px;
    justify-content: space-between;
}

}
